{% extends 'TouchMeFloorPlanBundle:Scaffolding:scaffolding.html.twig' %}

{% block main %}

  <h2>Alle Dateianhänge <small><a href="{{ path('asset_new')}}"><span class="glyphicon glyphicon-plus"></span> Anhang hinzufügen</a></small></h2>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>title</th>
        <th>src</th>
      </tr>
    </thead>
    <tbody>
      {% for asset in assets %}
        <tr>
          <td>{{ loop.index }} - ID:{{ asset.id }}</td>
          <td>{{ asset.title }}</td>
          <td>
            <a href="{{ asset.src }}" class="thumbnail">
              <img data-src="holder.js/100x180" src="{{ asset.src }}" alt="{{ asset.title }}" title="{{ asset.title }}" style="max-height:180px; max-width:100px">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}