{% block navigation %}

<nav>
  <ul class="nav navbar-nav">
    {% if is_granted('ROLE_USER') %}
    <li>
      <a href="{{ path('location') }}" title="Raumübersicht">Raumübersicht</a>
    </li>
    <li>
      <a href="{{ path('event') }}" title="Veranstaltungsübersicht">Veranstaltungsübersicht</a>
    </li>
    <li class="dropdown">
      <a href="{{ path('asset_show') }}" class="dropdown-toggle" data-toggle="dropdown" title="Dateiverwaltung">Dateiverwaltung <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('asset_show') }}" title="Alle Anhänge anzeigen">Alle Anhänge anzeigen</a></li>
        <li><a href="{{ path('asset_new') }}" title="Neuen Anhang hinzufügen">Neuen Anhang hinzufügen</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ path('import') }}" title="Import">Import</a>
    </li>
    <li>
      <a href="{{ path('export') }}" title="Export">Export</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="{{ path('logout') }}"> <span class="glyphicon glyphicon-user"></span> Log Out</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}